#aboutPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.mainContainerAbout{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5B99C2;
}

.containerAbout{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
}

.containerPrimaryAbout{
    width: 40%;
    text-align: center;
}

.containerSecondaryAbout{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutTitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 90px;
    font-weight: 500;
    font-style: normal;
    color: #021526;    
}

.aboutSubtitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    color: beige;
    margin: 0;
    

}