#aboutPage{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
    background-color: beige;
}

.containerAbout{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
}

.containerTitle{
    width: 40%;
    display: flex;
    justify-content: center;
}

.containerSubtitle{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutTitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 100px;
    font-weight: 500;
    font-style: normal;
    color: #021526;
    
}

.aboutSubtitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    color: #686D76;
    

}