#homePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.mainContainerHome{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5B99C2;
}

.containerPrimaryHome{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.homepageTitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 630%;
    font-weight: 550;
    font-style: normal;
    color: #021526;
    margin: 0 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.homepageTitle span {
    flex-basis: 100%;
}
  
.homepageTitle span:last-child {
    margin-top: 0;
}

.homepageSubtitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 250%;
    font-weight: 500;
    font-style: normal;
    color: beige;
    margin: 0;
}

.illustration{
    margin-bottom: 6rem;
    width: 100%;
}

@media (max-width: 768px){
    .mainContainerHome{
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .containerPrimaryHome{
        align-items: center;
        margin: 0 0 0 0;
        height: 50vh;
    }

    .containerSecondaryHome{
        height: 50vh;
    }

    .homepageTitle{
        font-size: 200%;
        flex-wrap: nowrap;
    }

    .homepageTitle span:last-child {
        flex-basis: auto;
        margin-left: 0.5rem;
      }

    .homepageSubtitle{
        font-size: 130%;
    }

    .illustration{
        width: 100%;
        margin: 0;
    }
}