#homePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; 
}

.mainContainerHome{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5B99C2;
}

.containerPrimaryHome{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: 0;
}


.homepageTitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 100px;
    font-weight: 500;
    font-style: normal;
    color: #021526;
    margin: 0 0 1rem 0;
    
}

.homepageSubtitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    color: beige;
    margin: 0;
}

.illustration{
    margin-bottom: 6rem;
}