.navbarDesktop{
    width: 100%;
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0 20px 0 20px;
}

.logoName, .logoLastName{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;  
    justify-content: center;
}

.logoName{
    color: #021526;
}

.logoLastName{
    color: #418dc0;
}

.containerOne{
    display: flex;
    margin: 0;
    
}

.containerTwo{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navDesktop{
    flex-direction: row;
    list-style-type: none;
}

.navText{  
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 550;
    font-style: normal;
    color: #021526;
}