.navbarDesktop{
    width: 95vw;
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logoName, .logoLastName{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;  
    justify-content: center;
}

.logoName{
    color: #021526;
}

.logoLastName{
    color: beige;
}

.containerOne{
    display: flex;
    margin: 0;
    
}

.containerTwo{
    display: flex;
    flex-direction: row;
    margin: 0;
}



.navDesktop{
    flex-direction: row;
    list-style-type: none;
}

.navText{
    
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #021526;
}